.header {
    background-color: #274684;
    padding: 12px 40px 12px 40px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 40px;
}

.links {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.header a {
    color: white;
    text-decoration: none;
}

.links button {
    background-color: #274684;
    border: none;
    color: white;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    border-right: solid 2px #1c325e;
    cursor: pointer;
}

.links button:first-child {
    border-left: solid 2px #1c325e;
}

.links button:hover {
    background-color: #1c325e;
}